name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
defaults:
  run:
    working-directory: src
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore BankTransactions.csproj
    - name: Build
      run: dotnet build BankTransactions.csproj --no-restore
    - name: Test
      run: dotnet test MoqTransactionTests.csproj --no-build --verbosity normal
